# Data Preprocessing Q2

### 2.      Remove records with unknown (?) values from both train and test data sets.  <br> &nbsp; &nbsp;For each multi-domain categorical attribute, use one-hot encoding to transform data;<br>&nbsp;&nbsp;&nbsp;For each numerical attribute, use the mean value to transform into binary attribute.

In [16]:
import pandas as pd
import numpy as np

#### Read file and remove whitespace

In [17]:
dfTrain = pd.read_csv('trainOri.csv',skipinitialspace=True)

In [18]:
dfTest = pd.read_csv('testOri.csv',skipinitialspace=True)

#### Remove  "." from income

In [19]:
dfTest["income"] = dfTest["income"].str.replace(".","")

#### Remove question mark

In training dataset, after moving question mark. The number of instance is 30162.

In testing dataset, after moving question mark. The number of instance is 15060.

In [20]:
dfTrain = dfTrain[(dfTrain.values !='?').all(axis=1)]

In [21]:
len( dfTrain.index)

30162

In [22]:
dfTest = dfTest[(dfTest.values !='?').all(axis=1)]

In [23]:
len(dfTest.index)

15060

#### For each numerical attribute, convert them to binary value.

In [27]:
import pandas as pd
import numpy as np

def numericalBinary(dataset, features):
    dataset[features] = np.where(dataset[features] >= dataset[features].mean(), 1,0)

In [28]:
numericalBinary(dfTrain,['age','fnlwgt','education-num','capital-gain','capital-loss','hours-per-week'])
numericalBinary(dfTest,['age','fnlwgt','education-num','capital-gain','capital-loss','hours-per-week'])

In [29]:
dfTrain.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,1,State-gov,0,Bachelors,1,Never-married,Adm-clerical,Not-in-family,White,Male,1,0,0,United-States,<=50K
1,1,Self-emp-not-inc,0,Bachelors,1,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,0,United-States,<=50K
2,0,Private,1,HS-grad,0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,0,United-States,<=50K
3,1,Private,1,11th,0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,0,United-States,<=50K
4,0,Private,1,Bachelors,1,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,0,Cuba,<=50K

#### Output files

In [25]:
dfTrain.to_csv('trainedQ2.csv')

In [26]:
dfTest.to_csv('testedQ2.csv')